* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.home {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0px;
    margin: 0px;
}

.food-card {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
    transition: 0.2s;
}

.food-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.food-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.food-info {
    padding: 12px;
}

.food-title {
    font-size: 1.1rem;
    margin : 0px;
    flex: 1;
}

.food-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.btn-add {
    background: #ff6b00;
    border: none;
    padding: 6px 12px;
    color: white;
    font-size: 0.85rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-add:hover {
    background: #e65a00;
}

.empty-cart {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
}

.cart-list {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.cart-item img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
}

.meal-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.checkout-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.checkout-btn {
    width: 100%;
    margin: 10px;
    padding: 14px;
    background: #fd8d0d;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.checkout-btn:hover {
    background: #e47e0b;
}

.footer {
    background: #f5f5f5;
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px solid #ddd;

}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
    text-align: center;
    color: #555;
    font-size: 0.95rem;
}